<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="icon" type="image/x-icon" href="/public/assets/images/dlsu-icon.ico">
        
        
    <!-- BOOTSTRAP -->
        
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
       
        <!-- BOOTSTRAP -->

       <!-- JQUERY -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <!-- JQUERY -->

       <!-- chart -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
       <!-- chart -->

       <link href= "/public/assets/css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="page-container">
        <!-- NAVBAR -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                    <img src="/public/assets/images/dlsu-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    CTracer
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/daily" style="color:black">Daily</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/weekly" style="color:black">Weekly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts" style="color:black">New Cases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about" style="color:black">About Us</a>
                        </li>   
                       <% if(role == "Admin") { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin" style="color:black">Admin</a>
                            </li>
                            <% }%>
                    </ul>
    
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <% if (loggedin) { %>
                            <a class="nav-link" href="/signout" style="color:black">Sign out</a>
                            <% } else { %>
                            <a class="nav-link" href="/signin" style="color:black">Sign in</a>
                            <% } %>
                        </li>
                    </ul>
                    </div>
                </nav>
        <!-- NAVBAR -->
    
        <div class="row">
            <div class="column">
                <H1 style="text-align: center"> Daily Cases</H1>
                <!-- GRAPH DAILY-->
                <canvas id="myChart" style="width:100%;max-width:600px;margin:auto"></canvas>
                <script>
                    var xValues = ['<%= CovidNum[0].date %>','<%= CovidNum[1].date %>','<%= CovidNum[2].date %>','<%= CovidNum[3].date %>','<%= CovidNum[4].date %>','<%= CovidNum[5].date %>'];
                    
                    new Chart("myChart", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{ 
                            data: ['<%= CovidNum[0].addcases %>','<%= CovidNum[1].addcases %>','<%= CovidNum[2].addcases %>','<%= CovidNum[3].addcases %>','<%= CovidNum[4].addcases %>','<%= CovidNum[5].addcases %>'],
                        borderColor: "red",
                        fill: false
                     
                        }]
                    },
                    options: {
                        legend: {display: false}
                    }
                    });
                    </script>
                <!-- GRAPH DAILY-->
    
                <h1 style="text-align:left"> Data Analysis </h1>
               <!-- current daily -->
               <table class="inline">
                <tr>
                    <th> Current daily additional cases:</th>
                    <td> <%= CovidNum[0].addcases %></td>
                </tr>

                <tr>
                    <th> Current daily additional death:</th>
                    <td> <%= CovidNum[0].adddeath %> </td>
                </tr>

                <tr>
                    <th> Current daily additional recoveries:</th>
                    <td> <%= CovidNum[0].addrecoveries %></td>
                </tr>

                <tr>
                    <th> Current daily additional Severe and Critical cases:</th>
                    <td><%= CovidNum[0].addsevere %> </td>
                </tr>
    
    
    
            </table>
            
            <!-- previous daily -->
            <table class="inline">
                <tr>
                    <th> Previous daily additional cases:</th>
                    <td> <%= CovidNum[1].addcases %></td>

                </tr>

                <tr>
                    <th> Previous daily additional death:</th>
                    <td> <%= CovidNum[1].adddeath %> </td>

                </tr>

                <tr>
                    <th> Previous daily additional recoveries:</th>
                    <td> <%= CovidNum[1].addrecoveries %></td>

                </tr>

                <tr>
                    <th> Previous daily additional Severe and Critical cases:</th>
                    <td><%= CovidNum[1].addsevere %> </td>

                </tr>
    
            </table>
            </div>
    
            <div class="column">
                <h1 style="text-align:center"> Weekly Cases </h1>
                <!-- GRAPH WEEKLY-->
                <canvas id="myChart2" style="width:100%;max-width:600px;margin:auto"></canvas>
                <script>
                var xValuesz = ['<%= CovidNumW[0].weeknum %>','<%= CovidNumW[1].weeknum %>','<%= CovidNumW[2].weeknum %>','<%= CovidNumW[3].weeknum %>','<%= CovidNumW[4].weeknum %>','<%= CovidNumW[5].weeknum %>'];
                    
                    new Chart("myChart2", {
                    type: "line",
                    data: {
                        labels: xValuesz,
                        datasets: [{ 
                            data: ['<%= CovidNumW[0].addcases %>','<%= CovidNumW[1].addcases %>','<%= CovidNumW[2].addcases %>','<%= CovidNumW[3].addcases %>','<%= CovidNumW[4].addcases %>','<%= CovidNumW[5].addcases %>'],
                        borderColor: "red",
                        fill: false
                      
                        }]
                    },
                    options: {
                        legend: {display: false}
                    }
                    });
                    </script>
    
                    <h1 style="text-align:left"> Data Analysis </h1>
                    <table class="inline">
                        <tr>
                            <th> Current week's additional cases:</th>
                            <td> <%= CovidNumW[0].addcases %></td>
                        </tr>
                        
    
                        <tr>
                            <th> Current week's additional death:</th>
                            <td> <%= CovidNum[0].adddeath %></td>
                        </tr>
    
                        <tr>
                            <th> Current week's additional recoveries:</th>
                            <td> <%= CovidNum[0].addrecoveries %></td>
                        </tr>
    
                        <tr>
                            <th> Current week's additional Severe and Critical cases:</th>
                            <td> <%= CovidNum[0].addsevere %></td>
                        </tr>
    
                      
    
                    </table>
                    
                    <!-- previous week -->
                    <table class="inline">
                       
                        <tr>
                            <th> Previous week's additional cases:</th>
                            <td> <%= CovidNumW[1].addcases %></td>
                        </tr>
    
                        <tr>
                            <th> Previous week's additional death:</th>
                            <td> <%= CovidNumW[1].adddeath %></td>
                        </tr>
    
                        <tr>
                            <th> Previous week's additional recoveries:</th>
                            <td> <%= CovidNumW[1].addrecoveries %></td>
                        </tr>
    
                        <tr>
                            <th> Previous week's additional Severe and Critical cases:</th>
                            <td> <%= CovidNumW[1].addsevere %></td>
                        </tr>
    
                   
                    </table>
                <!-- GRAPH WEEKLY-->
            </div>
        </div>
            <% if (loggedin) { %>
            <div class="new_entry">
                <h2>Register a New Case Below</h2>
                <a href="../covidnum/covidnumtest" class="btn btn-warning">COVID-19 Form</a>
            </div>
            <% } %>
            <br>
            <br>
            <br>
            <br>
    
            
            <div class="footer">
                Copyright©2022. All Rights Reserved SanSerSan | Manila PH
            </div>
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>