<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <Title> Daily Report</Title>
        <link rel="icon" type="image/x-icon" href="/public/assets/images/dlsu-icon.ico">

        <!-- BOOTSTRAP -->
        
        <!-- CSS only -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
         <!-- JavaScript Bundle with Popper -->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        
         <!-- BOOTSTRAP -->

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- JQUERY -->

        <!-- chart -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <!-- chart -->

        <link href= "/public/assets/css/index.css" rel="stylesheet" />

        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    </head>

    <!-- SPACE -->
    
    <body>
        <div id="page-container">

    <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                <img src="/public/assets/images/dlsu-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                CTracer
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="/" style="color:black">Home </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" >Daily <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/weekly" style="color:black">Weekly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts" style="color:black">New Cases</a>
                        </li>
                        <% if(role == "Admin") { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin" style="color:black">Admin</a>
                            </li>
                            <% }%>
                    </ul>
            


                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <% if (loggedin) { %>
                                <a class="nav-link" href="/signout" style="color:black">Sign out</a>
                                <% } else { %>
                                <a class="nav-link" href="/signin" style="color:black">Sign in</a>
                                <% } %>

                        </li>
                    </ul>
                </div>
            </nav>
    <!-- NAVBAR -->
    <!-- <div class="container"> -->
<div>
    <H1 style="text-align: center"> Weekly Cases for week <%= CovidNumW.weeknum %> for the month of <%= month %></H1>

            <table class="inline" style="margin:auto">
                <tr>
                    <th> Current weekly additional cases:</th>
                    <td> <%= CovidNumW.addcases %></td>
                </tr>

                <tr>
                    <th> Current weekly additional death:</th>
                    <td> <%= CovidNumW.adddeath %> </td>
                </tr>

                <tr>
                    <th> Current weekly additional recoveries:</th>
                    <td> <%= CovidNumW.addrecoveries %></td>
                </tr>

                <tr>
                    <th> Current weekly additional Severe and Critical cases:</th>
                    <td><%= CovidNumW.addsevere %> </td>
                </tr>



            </table>
        <!-- row div -->
    <!-- end of row 1 -->
    </div>

    <br>
    <br>
    <br>

    <br>
    <br>


    <form action="../cases/search" method="post" style="width:150px;margin:auto" >
        View day data:
    <input type="date" name="searchdate">
        <button  class="btn btn-warning" > Search Data </button>
    </form>


    <br>
    <br>
    <br>
    <br>
    <div class="footer">
        Copyright©2022. All Rights Reserved SanSerSan | Manila PH
    </div>
<!-- </div> -->
    </div>

   
    
    </body>
    <script src="js/index.js"></script>

</html>
